region{
    z-index: 3;
}

cursor{
    position: absolute;
    padding: 1.4%;
    /* height: 39%; */
    margin-top: 4%;
    border-right: 2px solid black !important; 
}
/* #waveform {
    height: 250px;
  } */
showtitle{
    padding-left: 2.8%;
    height: 90% !important;
    /* opacity: 0 */

}

.label_contain{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height:80%;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    border-radius: 1%;
}

.backward{
    margin-left: 5%;
    font-size: 30px;

}
.pauseOrbegin{
    margin-left: 5%;
    font-size: 30px;
}

.forward{
    margin-left: 5%;
    font-size: 30px;
}   
.music_controal{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.music_controal_contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.label_h1{
    font-weight: bold;
}
.button_right{
    margin-top: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}