.ant-tabs-content-holder{
    height: 450px;
}
.ant-tabs-nav{
    border-top: 2px solid #eaeaea;
}
.ant-tabs-nav-wrap{
    background-color:#eaeaea;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }